*{
    box-sizing: border-box
    
}
/*::-webkit-scrollbar {
    display: none;
}*/

body {
    grid-template-columns: repeat(auto-fit, minmax(280pc, 400px));
    padding: 0;
    max-width: 900px;
    min-width: 280px;
    overflow: hidden

}

main {
    display: flex;
}

.rocket-img {
    float: right;
    margin-left: 50vh;
}

ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    margin-left: 10vh;
}

li {
    list-style: none;
}

h1 {
    text-transform: uppercase;
    color: #6C63FF;
    margin-top: 20vh;
    margin-left: 13vh;
    font-size: 5vh;
}

.countdown li span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11vh;  
    color: #4d4c59;
    margin-left: -4rem;
    margin-top: 2vh;
}

.countdown li div {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 2vh;
    color: #c8c8c8;
}

.countdown li {
    padding: 1rem;
    justify-content: space-between;
    display: flex;
}

.signup {
    white-space: nowrap;
    position: relative;
    bottom: 30vh;
    left: 30vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #9C9AB6;
}

.signup li button {
    background-color: #6C63FF;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 200ms cubic-bezier(.08,.52,.52,1);
    font-size: 20px;
    line-height: 48px;
    margin-left: 5vh;
}

.sign:hover {
    background-color: #5850f5;
}

@media (max-width: 1225px) {
    .rocket-img {
        margin-left: 40vh;
    }

}

@media (max-width: 1155px) {
    .rocket-img {
        margin-left: 25vh;
    }

}
@media (max-width: 1068px) {
    .rocket-img {
        margin-left: 10vh;
    }

}

@media (max-width: 978px) {
    .rocket-img {
        margin-left: 5vh;
    }

}

@media (max-width: 978px) {
    body {
        align-items: center; 
        justify-content: center;
    }

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1000vh;
        margin-left: 41vh;
    }

    .rocket-img {
        display: flex;
        margin-bottom: 930vh;
        margin-left: -64vh;
        float: none;
    }

    .signup {
        bottom: 940vh;
        left: 65vh;
    }

}

